<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <servlet>
    <servlet-name>v1</servlet-name>
    <servlet-class>com.google.appengine.demos.shardedcounter.java.v1.V1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>v1</servlet-name>
    <url-pattern>/v1</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>v2</servlet-name>
    <servlet-class>com.google.appengine.demos.shardedcounter.java.v2.V2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>v2</servlet-name>
    <url-pattern>/v2</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
